*{
	margin:0px;
	padding: 0px;
	font-family: 'Josefin Sans', sans-serif;
   
}
    /*header-section*/


@media only screen and (max-width:600px) {
	#header-rw1-position-1{order:1;}
	#header-rw1-position-2{order:2;}
	#header-rw1-position-3{order:3;}
	#header-rw1-position-4{order:4;}
	#header-rw1-position-5{order:6;}
	#header-rw1-position-6{order:5;}
	#header-rw1-position-7{order:8;}
	#header-rw1-position-8{order:7;}
}
@media only screen and (max-width:600px) {
	#header-rw2-position-1{order:1;}
	#header-rw2-position-2{order:0;}
	#header-rw2-position-3{order:4;}
	#header-rw2-position-4{order:3;}
	#header-rw2-position-5{order:5;}
	#header-rw2-position-6{order:6;}
	#header-rw2-position-7{order:7;}
	#header-rw2-position-8{order:8;}
	}
	@media only screen and (max-width:600px) {
	#header-rw3-position-1{order:1;}
	#header-rw3-position-2{order:2;}
	#header-rw3-position-3{order:3;}
	#header-rw3-position-4{order:4;}
	#header-rw3-position-5{order:6;}
	#header-rw3-position-6{order:5;}
	#header-rw3-position-7{order:8;}
	#header-rw3-position-8{order:7;}
}
@media only screen and (max-width:600px) {
	#header-rw4-position-1{order:2;}
	#header-rw4-position-2{order:1;}
	#header-rw4-position-3{order:4;}
	#header-rw4-position-4{order:3;}
	#header-rw4-position-5{order:5;}
	#header-rw4-position-6{order:6;}
	#header-rw4-position-7{order:8;}
	#header-rw4-position-8{order:8;}
	}




header{
	
     
 
    background-color:#010f44;


}

.header-menu-bar{
	
   
    max-width: 100%;
    margin: 30px;
  
}
.header-logo-left{
	
	margin-left: 155px;
	color: white;
}

.header-back-img {
	max-width: 100%;
}	

.header-back-width{
	padding: 0px;
    

}


/*main-section*/
.main-cont{
	color: white;
    max-width: 100%;
    text-align: center;
    margin-top: -43%;
    
    h3{
    	margin-top: 15px;
        font-size: 45px;
    	
    }
    h1{
    	font-family: 'Josefin Sans', sans-serif;
        font-family: 'Lobster', cursive;
    	font-size: 235px;
        margin-top: -80px;
        margin-bottom: 40px;
    	
    }
    h2{
    	font-size: 50px;
        margin-top: -200px;
    }
    	
    }


    .main-cont-left{
	
	padding-left: 50px;
}
@media only screen and (max-width:600px) {
	.main-cont{
		max-width: 100%;
		text-align: center;
		margin-top: -162.45454%;
        font-size: 45px;
        h3{
        	font-size:23px;
        	margin-bottom: 20px;
        } 
        h1{
        	font-size: 100px;
		    margin-top: -45px;
		    margin-bottom: 30px;
        }
	}
	 .main-cont-left{
	text-align: center;
	
}
	
	

}



    .main-img-right{
    	text-align: center;
    	video{
    		width: 80%;
		    height: 65%;
		    object-fit: cover;
		    text-align: left;

    	}

    	img{ width: 80%;
		    height: 65%;
		    object-fit: cover;
		    text-align: left;
        }
    	
    }
    .main-font-sizing{
    		
       /*margin-top: 65px;*/
    		

    	


}
/*navigation-sectiom*/


 .header-menu-icon{
 	font-size:30px;
 	cursor:pointer;
 	color:white;

 }


.sidenav {
  text-align: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 600px) {

  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 45px;}
}



.nav-row{
   font-size: 25px;
    display: flex !important;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-align: center;

}
.nav-pannel {
	
	font-size:30px;
}

@media screen and (max-height:600px) {
.dot {
  margin-bottom:5px; 
  height: 3px;
  width: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
 
 }
.nav-row{
	font-size:15px;
    padding: 0px;
}
.nav-pannel {
	padding: 0px;
	font-size: 15px;
}

	}
/*.nav-pannel{
	float: none;
    position: relative;
    top: -32px;
    font-size: 35px;
}*/


/*.dot {
  margin-bottom:5px; 
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}*/
.nav-hori-line{
    border: 1px solid red;
    height: 2px;
    width: 100px;
  

}
.dot::after {
    content: " ";
    }


.inner-header {
	    position: absolute;
    width: 100%;
    right: auto;
}