*{
	margin:0px;
	padding: 0px;
	font-family: 'Josefin Sans', sans-serif;
   
}
 /*header-section*/
header{
	
     
 /* background-image: linear-gradient(black,black,black); */

    background-color:#010f44;
}



.header-menu-bar{
	left: -77px;
    position: relative;
    max-width: 100%!important;
    top: 80px;
}
.header-logo-left{
	
	margin-left: 155px;
	color: white;
}

.header-back-img {
	max-width: 100%;
}	

.header-back-width{
	padding: 0px;
    

}




/*main-section*/
main{
	
    margin-top: -43.45454%;
    margin-left: 100px;
    color: white;
    h3{
    	font-size: 35px;
    	
    }
    h1{
    	font-family: 'Josefin Sans', sans-serif;
        font-family: 'Lobster', cursive;
    	font-size: 235px;
        margin-top: -85px;
    	
    }
    h2{
    	font-size: 50px;
        margin-top: -200px;
}
    	
    }
    .main-img{
    	margin-top: -310px;
    	 max-width: 100%!important; 

    	
    }
    .main-font-sizing{
    		
       margin-top: 65px;
    		

    	


}
/*navigation-sectiom*/


 span{font-size:30px;cursor:pointer;color:white}


.sidenav {
  text-align: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 45px;}
}
.nav-row{
margin-top: 200px;
display:flex !important;
color: white;
font-size: 30px;
text-decoration:none;
text-align: center;

}
.dot {
  margin-bottom:5px; 
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-hori-line{
    border: 1px solid red;
    height: 2px;
    width: 100px;
  

}
.dot::after {
    content: " ";
    }

